body {
	background-image: url("https://lh6.googleusercontent.com/S6tEYDkxloJrG-jpvsKToHe2Ci1foAT3iEteMAYTydL2H9t-ZmXAFU75MNsk1frAzPjLF6FN5JbyhI4=w1366-h676-rw");
    background-size: 1000px 600px; 
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	</div>
}